.error_panting_class{
    display: flex;
    margin-left: 29%;
    background: #f1f2f3;
    width: 49%;
    border-radius: 13px;
    box-shadow: 1.035px 3.864px 4.75px 0.25px rgba(0,0,0,.2);
}
.error_panting_class .error_logo{
    border-top-left-radius: 13px;
    padding: 4%;
    background: #f75050;
    font-size: 51px;
    color: #ab0707;
    border-bottom-left-radius: 13px;
}
.error_panting_class .error_text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 5%;
}
.error_panting_class .error_red_text{
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 600;
    text-transform: capitalize;
    color: #ff6565;
}
@media (min-width: 481px) and (max-width: 767px) {
    .error_panting_class .error_text{
        font-size: 12px;
    }
    .error_panting_class .error_red_text{
        font-size: 29px;
    }
    .error_panting_class .error_logo{
        font-size: 45px;
    }
    .error_panting_class{
        width: 71%;
        margin: auto;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .error_panting_class .error_text{
        font-size: 12px;
    }
    .error_panting_class .error_red_text{
        font-size: 29px;
    }
    .error_panting_class .error_logo{
        font-size: 45px;
    }
    .error_panting_class{
        width: 71%;
        margin: auto;
    }

  }