.main_parent{
    margin-left: 28%;
    margin-top: 14%;
}
.country_sidebar_link{
    text-decoration:none;
    color:black;
  }
.country_sidebar_link:hover{
    text-decoration:none;
    color:black;
  }