.parent_profile_div .player_image_design{
    width: 105px;
    border: 3px solid #c7c7c7;
    border-radius: 73px;
}
.parent_profile_div{
    margin-left: 18%;
    margin-top: 7%;
    width: 73%;
    z-index:100;
}
.name_para{
    margin-top: 4%;
    margin-left: 3%;
    font-weight: 800;
    font-size: 18px;
    color: white;
}
.typepara{
    font-size: 14px;
    font-weight: 500;
}
.image_name_div{
    display: flex;
    padding-top: 10%;
}
.parent_profile_div .row{
    background: #1977ff;
    border-radius: 18px;
    width:100%;
}
ul{
    list-style:none;
}
li {
    padding: 4%;
}
.parent_rank_div{
    display: flex;
    justify-content: center;
}
.Rank_col_1 div {
    padding-top: 12%;
}
.Rank_col_2 div {
    padding-top: 41%;
}
.Rank_col_3 div {
    padding-top: 35%;  
}
.Rank_col_4 div {
    padding-top: 35%;
}
.Rank_col_1{
    border-right: 1px solid;
    border-right: 1px soil;
    border-right-color: #5ea0ff;
    padding-right: 2%;
}
.Rank_col_2{
    border-right: 1px solid;
    border-right: 1px soil;
    border-right-color: #5ea0ff;
    height: 124px;
    padding-left: 4%;
    padding-right: 3%;
}
.Rank_col_3{
    border-right: 1px solid;
    border-right-color: #5ea0ff;
    height: 124px;
    padding-left: 4%;
    padding-right: 3%;
}
.Rank_col_4  {
    height: 124px;
    padding-left: 4%;
    padding-right: 3%;
}

.ICC_text{
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    border-right: 1px solid;
    border-right-color: #5ea0ff;
}
.border_right_design{
    border-right: 1px solid!important;
    border-right-color: #5ea0ff!important;
}
.common_text{
    font-size: 14px;
    text-transform: capitalize;
    color: white;
    text-align: center;
}
.header_text{
    font-size: 14px;
    opacity: .5;
    color: white;
}
.rank_text{
    color: white;
    font-size: 23px;
    text-align:center;
}
td{
    color:white;
    font-family: 'Roboto', sans-serif;

}
.parent_profile_div .table{
    width: 84%!important;
    margin-bottom: 0rem!important;
}
@media (min-width: 1281px) {
  
    .parent_profile_div{
    margin-left: 18%;
    margin-top: 7%;
    width: 73%;
    z-index: 1;
}
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .parent_profile_div{
    margin-left: 18%;
    margin-top: 7%;
    width: 73%;
    z-index: 1;
}
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .parent_profile_div{
        margin-left: 21%;
    margin-top: 7%;
    width: 73%;
    padding-bottom: 100%;
    z-index: 1;
   }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .parent_profile_div{
    margin-left: 21%;
    margin-top: 7%;
    width: 73%;
    padding-bottom: 100%;
    z-index: 1;
   }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .parent_profile_div{
    margin-left: 18%;
    margin-top: 7%;
    width: 73%;
    padding-bottom: 100%;
    z-index: 1;
   }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .parent_profile_div{
    margin-left: 18%;
    margin-top: 7%;
    width: 73%;
    padding-bottom: 100%;
    z-index: 1;
    }
    
  }