.first_name_design{
    display:block;
    font-family:Poppins,sans-serif;
    color:black;
}
.second_name_design{
    font-weight:600;
    font-family:Poppins,sans-serif;
    color:black;
}
.parent_para_container:hover{
    text-decoration:none
}
.image_block{
    margin:5%;
    border: 4px solid #c4c4c4;
    border-radius: 74px;
}
.parent_para_container{
    margin-top: 9%;
    
}
.parent_container{
    display:flex;
    border: 3px solid white;
    border-radius:5px
}
.parent_container:hover{
    border: 3px solid #c1daff!important;  
    cursor:pointer;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .first_name_design{
       font-size:10px
    }
    .second_name_design{
        font-size:10px
    }
    .image_block {
        margin: 5%;
        border: 4px solid #c4c4c4;
        border-radius: 74px;
        width: 43%;
    }
  }
@media screen and (max-width: 767px){
    .parent_container{
        background:white;
        margin-top:3%;
        margin-left:auto;
        margin-right: auto;
    }
  }

 