.blackscreen{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index: 300;
    display:none;
}
@media (min-width: 481px) and (max-width: 767px) {
  
    .blackscreen{
    display:block!important;
  }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .blackscreen{
    display:block!important;

    }
    
  }